h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  color: white; }

p {
  color: white; }

.bg-dark {
  background-color: #6d2d7d !important; }

.navbar-brand {
  margin-left: 2rem; }

body {
  width: 640px;
  margin: 0 auto;
  padding-top: 5rem;
  background-image: url("../images/geo.jpg"); }

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center; }

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0, 0, 0, 0); }

button {
  border: 0;
  background: rgba(255, 255, 0, 0.8);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px; }

.thumb-bar {
  width: 640px; }

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
  margin-bottom: 10rem; }
